.banner {
  height: 475px;
  object-fit: contain;
  position: relative;
}

.banner-content {
  height: 100%;
}

.banner-title {
  font-weight: 800;
  font-size: 3rem;
  padding-bottom: 0.3rem;
  color: white;
}

.banner-description {
  line-height: 1.3;
  font-size: 15px;
}

.banner-genres {
  padding: 10px;
  border: 1px solid black;
  border-radius: 35px;
  margin: 10px;
}

.justify-between {
  justify-content: space-between;
}

.banner-title-container {
  position: absolute;
  bottom: 0;
  width: 99%;
  margin: 0px 6px;
}
